@inject SweetAlertService sweetAlertService
@using Lab.Shared.Entities;


<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />

<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label>Fecha Recoleción:</label>
        <div>
            <InputText class="form-control" @bind-Value="@DataSample.CollectorDate" />
            <ValidationMessage For="@(() => DataSample.CollectorDate)" />
        </div>
    </div>
    <div class="mb-3">
        <label>Fecha Ingreso:</label>
        <div>
            <InputText class="form-control" @bind-Value="@DataSample.AdmissionDate" />
            <ValidationMessage For="@(() => DataSample.AdmissionDate)" />
        </div>
    </div>
    <div class="mb-3">
        <label>Hora:</label>
        <div>
            <InputText class="form-control" @bind-Value="@DataSample.Hours" />
            <ValidationMessage For="@(() => DataSample.Hours)" />
        </div>
    </div>
    <div class="mb-3">
        <label>Nombre Recolector:</label>
        <div>
            <InputText class="form-control" @bind-Value="@DataSample.NameR" />
            <ValidationMessage For="@(() => DataSample.NameR)" />
        </div>
    </div>
    <div class="mb-3">
        <label>Temperatura:</label>
        <div>
            <InputText class="form-control" @bind-Value="@DataSample.temperature" />
            <ValidationMessage For="@(() => DataSample.temperature)" />
        </div>
    </div>
    <div class="mb-3">
        <label>Tipo Frasco:</label>
        <div>
            <InputText class="form-control" @bind-Value="@DataSample.RecentType" />
            <ValidationMessage For="@(() => DataSample.RecentType)" />
        </div>
    <div class="mb-3">
        <label>Cantidad:</label>
        <div>
             <InputText class="form-control" @bind-Value="@DataSample.Amount" />
             <ValidationMessage For="@(() => DataSample.Amount)" />
        </div>
    </div>
    <div class="mb-3">
        <label>Color:</label>
        <div>
             <InputText class="form-control" @bind-Value="@DataSample.Color" />
             <ValidationMessage For="@(() => DataSample.Color)" />
        </div>
    </div>
    <div class="mb-3">
        <label>Olor:</label>
        <div>
             <InputText class="form-control" @bind-Value="@DataSample.Smell" />
             <ValidationMessage For="@(() => DataSample.Smell)" />
        </div>
    </div>
    <div class="mb-3">
        <label>Aspecto:</label>
        <div>
             <InputText class="form-control" @bind-Value="@DataSample.Aspect" />
             <ValidationMessage For="@(() => DataSample.Aspect)" />
        </div>
    </div>


    </div>
    <button class="btn btn-primary" type="submit">Guardar Cambios</button>
    <button class="btn btn-success" @onclick="ReturnAction">Regresar</button>
</EditForm>

@code {
    private EditContext editContext = null!;

    [Parameter]
    [EditorRequired]
    public DataSample DataSample { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public EventCallback OnValidSubmit { get; set; }

    [Parameter]
    [EditorRequired]
    public EventCallback ReturnAction { get; set; }

    public bool FormPostedSuccessfully { get; set; }

    protected override void OnInitialized()
    {
        editContext = new(DataSample);
    }

    private async Task OnBeforeInternalNavigation(LocationChangingContext context)
    {
        var formWasMofied = editContext.IsModified();
        if (!formWasMofied || FormPostedSuccessfully)
        {
            return;
        }

        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Deseas abandonar la página y perder los cambios?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
                CancelButtonText = "No",
                ConfirmButtonText = "Si"
            });

        var confirm = !string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        context.PreventNavigation();
    }
}
